<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>主页Homepage</title>
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<!--banner-->
	<div class="banner">
		<img src="/static/img/banner.jpg">
	</div>
	<!--banner end-->
	<!--nav-->
	<div class="nav">
		<ul class="nav_ul clear">
			<li>
				<a class="active" href="#">主页Home</a>
			</li>
			<li>
				<a href="menu.html">菜单Menu</a>
			</li>
			<li>
				<a href="information.html">信息Information</a>
			</li>
			<li>
				<a href="contact.html">反馈Feedback</a>
			</li>
		</ul>
	</div>
	<!--nav end-->
    <div style="width: 1320px;margin: 0 auto;">
	<marquee style="font-size: 18px;color: #333;line-height: 50px;width: 1320px;margin: 0 auto;display: block;" direction="left"
	         behavior="scroll" width="100%"><br>
	    欢迎来到ABC饭堂管理系统！为了提升饭堂服务水平，请动动小手反馈一下，谢谢！Welcome to ABC canteen management system! For the canteen improvement, please help to leave a feedback, thank you!<br>
	</marquee>
	</div>
	<!--content-->
	<div class="content">
		<!--home-->
		<div class="c_1">
			<img src="{{ banner }}">
		</div>
	</div>
	<!--content end-->
</body>
</html>
<script src="/static/js/jquery.js"></script>
<script>
</script>