<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>后台Backend</title>
	<link rel="stylesheet" href="/static/css/common1.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<style type="text/css">
	.content3{
		width: 1200px;
		margin: 0 auto;
		padding: 30px 0 100px 0;
		    border-radius: 4px;
    background-color: #fff;
    height: 500px;
	}
</style>
<body>
    <!--头部-->
	<div class="shell_header">
	    <div class="user_menu">
	        <div class="um_img"></div>
	    </div>
		<h5>ABC 饭堂</h5>
		<ul class="nav_menu clear">
			<li>
				<a href="index1.html">添加食品Add dishes</a>
		    </li>
		    <li>
				<a href="index_menu.html">上传早餐Upload breakfast</a>
		    </li>
		    <li class="active">
				<a href="index_wj.html">问卷结果Survey result</a>
		    </li>
		    <li>
				<a href="index_fk.html">反馈结果Feedback result</a>
		    </li>
            <li>
				<a href="menu_result.html">菜单选择结果Menu result</a>
		    </li>
		</ul>
	</div>
	<!--修改banner图-->
	<div class="shell_content">
		<div class="content3" id="content3">
            <div>
                <table class="table table-striped">
                    <tr>
                        <th>月份</th>
                        <th>不满意数量</th>
                    </tr>
                    {% for i in data %}
                        <tr>
                           <td>{{ i.month }}</td>
                           <td>{{ i.amount }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
		</div>

	</div>
</body>
</html>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/echarts.simple.min.js"></script>
<script type="text/javascript">
{#		var myChart = echarts.init(document.getElementById('content3'));#}
		option = {
    title : {
        text: '某站点用户访问来源',
        subtext: '纯属虚构',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: ['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
    },
    series : [
        {
            name: '访问来源',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {value:46, name:'满意'},
                {value:30, name:'比较满意'},
                {value:10, name:'一般'},
                {value:10, name:'不满意'},
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
}
// 使用刚指定的配置项和数据显示图表。
{#        myChart.setOption(option);#}
</script>