<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Questionnaire</title>
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<!--banner-->
	<div class="banner">
		<img src="/static/img/banner.jpg">
	</div>
	<!--banner end-->
	<!--nav-->
	<div class="nav">
		<ul class="nav_ul clear">
			<li>
				<a href="index.html">主页Home</a>
			</li>
			<li>
				<a href="menu.html">菜单Menu</a>
			</li>
			<li>
				<a href="information.html">信息Information</a>
			</li>
			<li>
				<a href="contact.html">反馈Feedback</a>
			</li>
		</ul>
	</div>
	<!--nav end-->
	<!--content-->
	<div class="content">
		
		<!--问卷调查-->
		<div class="c_4">
			<h6 class="c_4_title">问卷调查</h6>
			<div class="c_4_list">
				<div class="c_4_li clear">
					<h5>1、您对饭堂工作人员服务意识是否满意?</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>2、您对饭堂工作人员服务态度是否满意?</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>3、您对饭堂工作人员服务质量是否满意?</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>4、您对饭堂工作人员个人卫生是否满意?</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>5、您对饭堂公共设施是否满意?</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>6、您对饭堂就餐环境是否满意?</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>7、您对饭堂餐具消毒情况是否满意?</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>8、您对饭堂“平衡膳食理念”的执行情况是否满意?</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>9、您对饭堂供应食品的卫生情况是否满意?</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>10、您对饭堂早餐种类是否满意？</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>11、您对饭堂早餐出品质量是否满意？</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>12、您对饭堂早餐食品冷热程度是否满意？</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>13、您对饭堂早餐整体情况是否满意？</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>14、您对饭堂午餐菜肴种类是否满意？</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>15、您对饭堂午餐菜肴出品质量是否满意？</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>16、您对饭堂午餐面食种类是否满意？</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>17、您对饭堂午餐面食出品质量是否满意？</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>18、您对饭堂午餐凉菜种类是否满意？</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>19、您对饭堂午餐凉菜出品质量是否满意？</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>20、您对饭堂午餐米饭/汤/粥/糖水/豆浆是否满意？</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>21、您对饭堂午餐整体情况是否满意？</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
				<div class="c_4_li clear">
					<h5>22、您对饭堂午餐冷热程度是否满意？</h5>
					<div class="answer">满意</div>
					<div class="answer">比较满意</div>
					<div class="answer">一般</div>
					<div class="answer">不满意</div>
				</div>
			</div>
			<div class="btn_tj">Submit</div>
		</div>
		<!--问卷调查 end-->
	</div>
	<!--content end-->
</body>
</html>
<script src="/static/js/jquery.js"></script>
<script>
	$(function(){
         var selected=false; //判断是否选择菜单
		//答题
		$(".c_4_li").on("click",".answer",function(){
			var _this = $(this);
			var index = _this.index();
			_this.addClass("answer_active").siblings().removeClass("answer_active");
		})
		//提交问卷
		var answers ='';
		//提交问卷
		$(".btn_tj").on("click",function(){
            var login_user = getCookie('user');
            if(!login_user){
                alert('请登录！');
                window.location='/login';
                return
            }
			for(var i =0;i<22;i++){
				var answer = $(".c_4_li").eq(i).find(".answer_active").text();
				if(answer ==''){
					alert("你有未作答的题，请作答后再提交");
					return false;
				}
				answers += answer+',';
			}
			answers = answers.substring(0,answers.length-1);
			$.ajax({
				url:'/index/questionnaire.html',
				type:'POST',
				data:{
					answer:answers,
                    user: login_user
				},
				dataType:'json',
				success:function(res){
                    console.log(res)
                    if(res.data==1){
                        alert('提交成功')
                    }else {
                        alert('您本月已经提交过一次了')
                    }
				}
			})
		})

        function getCookie(cookie_name) {
            var allcookies = document.cookie;
            //索引长度，开始索引的位置
            var cookie_pos = allcookies.indexOf(cookie_name);

            // 如果找到了索引，就代表cookie存在,否则不存在
            if (cookie_pos != -1) {
                // 把cookie_pos放在值的开始，只要给值加1即可
                //计算取cookie值得开始索引，加的1为“=”
                cookie_pos = cookie_pos + cookie_name.length + 1;
                //计算取cookie值得结束索引
                var cookie_end = allcookies.indexOf(";", cookie_pos);

                if (cookie_end == -1) {
                    cookie_end = allcookies.length;

                }
                //得到想要的cookie的值
                var value = unescape(allcookies.substring(cookie_pos, cookie_end));
            }
            return value;
        }
	})
</script>