<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <style>
.register {
    width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #f0f0f0;
    padding: 10px 30px 50px 30px;
    -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, .05);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, .05);

}
    </style>
</head>
{# <body background="/static/img/back.jpg" style=" background-repeat:no-repeat ;background-size:100% 100%; background-attachment:fixed;">#}
<div class="register">
    <div style="font-size: 25px; font-weight: bold;text-align: center;color: #5bc0de">
        Sign up
    </div>
    <form role="form" action="/register/" method="post" id="form-register">
       {% csrf_token %}
        <div class="form-group">
            <label for="username">Username：</label>
            <p>{{ obj.username }}
            {{ obj.errors.username.0 }}</p>
        </div>
        <div class="form-group">
            <label for="password">Password：</label>
{#            <input type="password" name="password" class="form-control" id="password" placeholder="请输入密码">#}
            {{ obj.password }}
            {{ obj.errors.password.0 }}
        </div>
        <div class="form-group">
            <label for="confirm_password">Retype password：</label>
{#            <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="请重新输入密码">#}
        {{ obj.confirm_password }}
            {{ obj.errors.confirm_password.0 }}
        </div>


        <input type="submit" style="color: #5bc0de" class="btn btn-default" value="Sign up"/ >
        <input type="button" onclick="fanhui();"  style="position: relative;left: 170px;color: #5bc0de" class="btn btn-default" value="Back to Login"/>
    </form>

</div>
</body>
{{ s|safe }}
<script>
   function fanhui() {
       location.href='/login/';

   }

</script>
</html>